/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
margin-left: 10px;
margin-right: 10px;
max-width: 75ch;
}

code {
	
}

h1, h2, h3 {

}

h1 {
	text-align: center;	
}

h2 {
	line-height: 125%;
	font-size: 20px;

}

h3 {
	line-height: 100%;
	font-size: 18px;
	padding-top: 15px;
}

header {
	line-height: 145%;
	font-size: 22px;
	margin-top: 20px;
}

main {
	line-height: 145%;
}

p {
	text-align: left;
	font-size: 15px;
	text-indent: 1em;
	line-height: 125%;
}

#intro {
line-height: 135%;
margin-bottom: 15px;
}

#how-does-it-work, #influence, #joke {
margin-bottom: 15px;
}

b{
font-size: 18px;
}